* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: sans-serif, Arial, Helvetica;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-bottom: 20px;
}

.page-container, .page2-content, .page3-content, .success-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  width: 430px;
  margin-top: 10px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7px;
}

.header h4 {
  font-size: 1.15rem;
  margin-bottom: 5px;
}

.header span {
  opacity: .8;
}

.user-login-details, .user-personal-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 25px;
}

label {
  width: 100%;
  padding: 15px;
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
}

.color {
  color: orange;
}

.password-cont , .c-password-cont, .last-name-cont, .first-name-cont, .month-cont, .day-cont, .year-cont{
  width: 100%;
  display: flex;
  position: relative;
}

.password-cont span , .c-password-cont span , .last-name-cont span, .first-name-cont span, .prefix, .gender-label span, .month-cont span, .day-cont span, .year-cont span{
  position: absolute;
  top: -8px;
  left: 8px;
  font-size: .8rem;
  background-color: white;
  padding: 0px ;
  color: orange;
}

.password-cont input , .c-password-cont input , .last-name-cont input, .first-name-cont input{
  flex: 1;
  outline-color: orange;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px rgb(170, 170, 170) solid;
}

.pop-error-message {
  position: absolute;
  color: rgb(179, 18, 18);
  bottom: -6px;
  margin-left: 20px;
  font-size: .7rem;
}
.error-message {
  position: absolute;
  color: rgb(179, 18, 18);
  bottom: -15px;
  margin-left: 20px;
  font-size: .7rem;
}

.continue-link {
  background-color: rgba(241, 156, 9, 0.411);
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.09);
}

.continue-link:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.surpport-note {
  font-size: .8rem;
  text-align: center;
  line-height: 20px;
  margin-top: -10px;
  width: 100%;
}

.logo {
  font: 1.85rem sans-serif;
  margin-top: -10px;
}

.logo span {
  color: orange;
}

.user-personal-details {
  margin-top: 30px;
}

.phone-number-conatainer {
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 100%;
}

.prefix-cont {
  position: relative;
  width: 90px;
  cursor: pointer;
  padding: 14px;
  border-radius: 4px;
  border: 1px rgb(170, 170, 170) solid;
  display: flex;
  column-gap: 15px;
}
.arrow {
  display: flex;
}

.country-code-cont {
  position: absolute;
  background-color: white;
  height: 100px;
  overflow-y: scroll;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.2);
  bottom: -100px;
  left: 0;
  width: 180px;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  padding: 12px 10px;
  cursor: pointer;
  column-gap: 5px;
  transition: background-color .4s;
}

.row:hover {
  background-color: gainsboro;
}

.row span {
  font-size: .95rem;
}


.phone-digit {
  position: relative;
  flex: 1;
  display: flex;
}

.phone-digit span {
  position: absolute;
  top: -10px;
  left: 8px;
  font-size: .8rem;
  background-color: white;
  padding: 0px;
  color: orange;
}

.phone-digit input {
  flex: 1;
  outline-color: orange;
  padding: 15px;
  border-radius: 4px;
  border: 1px rgb(170, 170, 170) solid;
}

input:hover, .days:hover, .months:hover, .dob input:hover {
  border-color: black;
}

.page3-content {
  margin-top: 10px;
}

.user-personal-details2 {
  display: flex;
  flex-direction: column;
}

.gender-label {
  border: 1px gainsboro solid;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 15px;
  border-radius: 4px;
  cursor: pointer;
}

.gender-label:hover {
  border-color: black;
}

.gender-label i {
  opacity: .6;
  font-size: .8rem;
}

.gender-select {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 100%;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 1;
  border-radius: 4px;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.2);
}

.gender-select div {
  transition: background-color .3s;
  padding: 10px;
  cursor: pointer;
}

.gender-select div:hover {
  background-color: gainsboro;
}

.date-birth-date-label {
  display: flex;
  margin-top: 20px;
  row-gap: 10px;
  margin-bottom: 20px;
  flex-direction: column;
}

.date-birth-date-label title {
  margin-top: 50px;
}

.dob {
  display: flex;
  column-gap: 10px;
}

.days, .months, .dob input {
  height: 40px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid gainsboro;
}

.dob input {
  outline-color: orange;
}

select {
  border: 1px gainsboro solid;
  outline-color: orange;
  padding: 8px 10px;
  width: 100%;
  -webkit-appearance: none;
  font-size: .8rem;
}

.terms-condi-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.terms-condi-cont .terms-note {
  font-size: .9rem;
}

.terms-condi-cont .terms-note span {
  color: orange;
}


input:focus {
  
}
:focus::-webkit-input-placeholder {
  display: none;
  color: white;
}

.gender-label:focus {
  border-color: orange;
}

.success-cont {
  margin-top: 65px;
  display: flex;
  row-gap: 50px;
}

.img-container {
  display: flex;
  position: relative;
}

.img-container i {
  color: rgb(14, 173, 14);
  position: absolute;
  right: 0;
  bottom: 25%;
}

.img-container img {
  width: 80px;
  margin-bottom: 10px;
}

.success-cont .content {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 100%;
  align-items: center;
}

.success-cont .content .note {
  font-size: .8rem;
  opacity: .8;
}

.start-link {
  width: 100%;
  background-color: rgb(241, 156, 9);
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.09);
}

.start-link:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.success-cont .logo {
  margin-top: 30%;
  font-size: 1.9rem;
}

@media (min-width: 421px) and (max-width: 900px) {
  
  .page-container, .page2-content, .page3-content, .success-cont {
    row-gap: 15px;
    width: 55%;
  }

  img {
    width: 85px;
  }

  .header {
    row-gap: 5px;
  }
  
  .header h4 {
    font-size: .99rem;
    margin-bottom: 5px;
    text-align: center;
    margin: 0;
  }
  
  .header span {
    opacity: .8;
    font-size: .8rem;
    text-align: center;
  }
  
  .user-login-details, .user-personal-details {
    width: 100%;
    row-gap: 22px;
  }
  
  label {
    width: 100%;
    display: flex;
    padding: 15px;
    justify-content: space-between;
  }

  label a, label span {
    font-size: .85rem;
  }
  
  .password-cont , .c-password-cont, .last-name-cont, .first-name-cont, .month-cont, .day-cont, .year-cont{
    width: 100%;
    display: flex;
    position: relative;
  }
  
  .password-cont span , .c-password-cont span , .last-name-cont span, .first-name-cont span, .prefix, .gender-label span, .month-cont span, .day-cont span, .year-cont span, .phone-digit span{
    font-size: .8rem;
  }
  
  .password-cont input , .c-password-cont input , .last-name-cont input, .first-name-cont input{
    padding: 15px;
    width: 100%;
  }::placeholder {
    font-size: .83rem;
  }
  
  .continue-link, .start-link {
    padding: 15px;
    border-radius: 4px;
    font-size: .8rem;
  }
  
  .surpport-note {
    font-size: .8rem;
    text-align: center;
    line-height: 18px;
    margin-top: -10px;
    width: 100%;
  }
  
  .logo {
    font: 1.5rem sans-serif;
    margin-top: -10px;
  }
  
  .logo span {
    color: orange;
  }
  
  .user-personal-details, .user-personal-details2 {
    margin-top: 30px;
    width: 100%;
  }
  
  .phone-number-conatainer {
    column-gap: 7px;
    width: 100%;
    display: flex;
  }
  
  .prefix-cont {
    position: relative;
    width: 60px !important;
    padding: 15px; 
    column-gap: 5px;
    display: flex;
    justify-content: space-between;
  }

  .code-display {
    font-size: .8rem;
    display: block;
  }
  .prefix-cont .arrow {
    font-size: .8rem;
    display: block;
    margin-right: 10px;
  }

  .country-code-cont {
    height: 80px;
    overflow-y: scroll;
    bottom: -100px;
    left: 0;
    width: 130px;
  }
   
   .row {
    display: flex;
    padding: 10px 8px;
    cursor: pointer;
    column-gap: 5px;
    transition: background-color .4s;
  }
  
  .row span {
    font-size: .8rem;
  } 
  
  .phone-digit {
    position: relative;
    flex: 1;
    width: 100%;
    display: flex;
  }
  
  .phone-digit span {
    position: absolute;
    top: -8px;
    left: 6px;
    font-size: .8rem;
  }
  
  .phone-digit input {
    padding: 15px;
    border-radius: 4px;
    width: 100%;
  }
  
  .page3-content {
    margin-top: 10px;
  }
  
  .gender-label {
    border: 1px gainsboro solid;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 15px;
    font-size: .9rem;
    width: 100%;
    margin-top: -25px;
  }

  
  .gender-label:hover {
    border-color: black;
  }
  
  .gender-label i {
    opacity: .6;
    font-size: .9rem;
  }

  .gender-type {
    font-size: .95rem;
  }
  
  .gender-select {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 100%;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 1;
    border-radius: 4px;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.2);
  }
  
  .gender-select div {
    transition: background-color .3s;
    padding: 10px;
    cursor: pointer;
  }
  
  .gender-select div:hover {
    background-color: gainsboro;
  }
  
  .date-birth-date-label {
    display: flex;
    margin-top: 20px;
    width: 100%;
    row-gap: 10px;
    margin-bottom: 20px;
    flex-direction: column;
  }
  
  .date-birth-date-label .title {
    font-size: .9rem;
  }
  
  .dob {
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
  }
  
  .days, .months, .dob input {
    height: 40px;
    background-color: white;
    border: 1px solid gainsboro;
    width: 100%;
    padding: 8px;
  }
  
  .dob input {
    outline-color: orange;
  }

  .days, .months {
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.716);
  }

  .dob input::placeholder {
    font-size: 1rem;
    opacity: 1;
  }

  .terms-condi-cont {
    display: flex;
    justify-content: center;
    align-items: start;
    column-gap: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  
  .terms-condi-cont .terms-note {
    font-size: .8rem;
  }

  .success-cont {
    margin-top: 25px;
    row-gap: 35px;
  }

  .img-container img {
    width: 70px;
  }

  .success-cont .content {
    row-gap: 15px;
    width: 100%;
  }

  .success-cont .content .note {
    font-size: .8rem;
    opacity: .8;
  }

  .success-cont .logo {
    margin-top: 30%;
    font-size: 1.4rem;
  }

    
}

@media (max-width: 420px) {
  
  .page-container, .page2-content, .page3-content, .success-cont {
    row-gap: 10px;
    width: 80%;
    margin-top: 15px;
  }


  img {
    width: 60px;
  }

  
  .header {
    row-gap: 5px;
  }
  
  .header h4 {
    font-size: .95rem;
    margin-bottom: 5px;
    text-align: center;
  }
  
  .header span {
    opacity: .8;
    font-size: .75rem;
    text-align: center;
  }
  
  .user-login-details, .user-personal-details {
    width: 100%;
    row-gap: 12px;
  }
  
  label {
    width: 100%;
    display: flex;
    padding: 10px;
    column-gap: 5px;
    justify-content: space-between;
  }

  label a , label span{
    font-size: .74rem;
  }
  
  .password-cont , .c-password-cont, .last-name-cont, .first-name-cont, .month-cont, .day-cont, .year-cont{
    width: 100%;
    display: flex;
    position: relative;
  }
  
  .password-cont span , .c-password-cont span , .last-name-cont span, .first-name-cont span, .prefix, .gender-label span, .month-cont span, .day-cont span, .year-cont span, .phone-digit span{
    font-size: .7rem;
  }
  
  .password-cont input , .c-password-cont input , .last-name-cont input, .first-name-cont input{
    padding: 12px;
    width: 100%;
  }::placeholder {
    font-size: .73rem;
  }
  
  .continue-link , .start-link{
    padding: 9px;
    border-radius: 4px;
    font-size: .8rem;
  }
  
  
  .surpport-note {
    font-size: .8rem;
    text-align: center;
    line-height: 18px;
    margin-top: -10px;
    width: 100%;
  }
  
  .logo {
    font: 1.3rem sans-serif;
    margin-top: -10px;
  }
  
  .logo span {
    color: orange;
  }
  
  .user-personal-details, .user-personal-details2 {
    margin-top: 30px;
    width: 100%;
  }
  
  .phone-number-conatainer {
    column-gap: 7px;
    width: 100%;
    display: flex;
  }
  
  .prefix-cont {
    position: relative;
    width: 50px !important;
    padding: 10px 6px;
    column-gap: 5px;
    display: flex;
    justify-content: space-between;
  }

  .code-display {
    font-size: .75rem;
  }
  .prefix-cont .arrow {
    font-size: .75rem;
  }

  .country-code-cont {
    height: 80px;
    overflow-y: scroll;
    bottom: -85px;
    left: 0;
    width: 130px;
  }
   
   .row {
    display: flex;
    padding: 8px;
    cursor: pointer;
    column-gap: 5px;
    transition: background-color .4s;
  }
  
  .row span {
    font-size: .7rem;
  } 
  
  .phone-digit {
    position: relative;
    flex: 1;
    width: 100%;
    display: flex;
  }
  
  .phone-digit span {
    position: absolute;
    top: -10px;
    left: 5px;
    font-size: .7rem;
  }
  
  .phone-digit input {
    padding: 10px;
    border-radius: 4px;
    width: 100%;
  }
  
  .page3-content {
    margin-top: 10px;
  }
  
  .gender-label {
    border: 1px gainsboro solid;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 9px;
    font-size: .8rem;
    width: 100%;
    margin-top: -25px;
  }

  
  .gender-label:hover {
    border-color: black;
  }
  
  .gender-label i {
    opacity: .6;
    font-size: .8rem;
  }

  .gender-type {
    font-size: .85rem;
  }
  
  .gender-select {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 100%;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 1;
    border-radius: 4px;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.2);
  }
  
  .gender-select div {
    transition: background-color .3s;
    padding: 10px;
    cursor: pointer;
  }
  
  .gender-select div:hover {
    background-color: gainsboro;
  }
  
  .date-birth-date-label {
    display: flex;
    margin-top: 10px;
    width: 100%;
    row-gap: 10px;
    margin-bottom: 20px;
    flex-direction: column;
  }
  
  .date-birth-date-label .title {
    font-size: .8rem;
  }
  
  .dob {
    display: flex;
    column-gap: 10px;
  }
  
  .days, .months, .dob input {
    height: 40px;
    background-color: white;
    border: 1px solid gainsboro;
    width: 100%;
  }

  .days, .months {
    font-size: .8rem;
    color: rgba(0, 0, 0, 0.716);
  }

  .dob input {
    font-size: .75rem;
  }

  .dob input::placeholder {
    font-size: .9rem;
    opacity: 1;
  }
  

  .terms-condi-cont {
    display: flex;
    justify-content: center;
    align-items: start;
    column-gap: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  
  .terms-condi-cont .terms-note {
    font-size: .7rem;
  }

  .success-cont {
    /* margin-top: 35px; */
    display: flex;
    row-gap: 50px;
  }

  .img-container {
    display: flex;
    position: relative;
  }

  .img-container i {
    color: rgb(14, 173, 14);
    position: absolute;
    right: 0;
    bottom: 25%;
  }

  .img-container img {
    width: 80px;
    margin-bottom: 10px;
  }

  .success-cont .content {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 100%;
    align-items: center;
  }

  .success-cont .content .note {
    font-size: .8rem;
    opacity: .8;
  }

  .success-cont .logo {
    margin-top: 20%;
    font-size: 1.1rem;
  }

  
}

.hide {
  display: none;
}

.colo {
  border-color: orange;
}

.borderColor {
  border-color: orange !important;
}
.wrong-details {
  border-color: rgb(215, 18, 18);
  outline-color: rgb(215, 18, 18);
}